:root {
    --gray: rgb(234, 234, 234);
    --beigh: rgb(237, 228, 197);
    --grayBLU: rgb(206, 227, 233);
}


@font-face {
    font-family: MyFont;
    src: url(../fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf);
}
* {
    padding: 5px;
    margin: 5px;
    font-family: MyFont;
    /* border: 1px solid gray; */
}
.container {
    display: grid;
    grid-template-areas: 
    "header header header header header"
    "left main main main main"
    "left footer footer footer footer";
}
.header {
    grid-area: header;
    background-color: var(--gray);
    border-radius: 12px;
}

.left {
    grid-area: left;
    background-color: var(--gray);
    border-radius: 12px;
}

.content {
    grid-area: main;
    border-radius: 12px;
}

.footer {
    grid-area: footer;
    background-color: var(--gray);
    border-radius: 12px;
}

.conversation {
    /* max height is 75% of the screen height; */
    max-height: 75vh;
    overflow-y: scroll;
    display: flex; 
    flex-direction: column; 
}

.chat-user {
    /* this is the box of the user */
    margin: 10px
}

.chat-agent {
    /* this is the box of the AI */
    margin: 10px
}

.chat-avatar {
    /* this is the box of both icons */
    border-radius: 50%;
    background-color: var(--beigh);
    height: 40px;
}

.chat-last {
    border: 2px solid var(--grayBLU);
    border-radius: 12px;     
    margin: 10px
}

.avatar_grid {
    display: grid;
    grid-template-areas: 
    "user_avatar agent_avatar";
    
}

.avatar_selection {
    width: 75vw;
    height: 200px; 
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.agent_avatar {
    grid-area: agent_avatar;
}

.user_avatar {
    grid-area: user_avatar;
}

.cardContainer {
    border: 2px solid var(--gray);
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.cardA {
    width: 12%;
    background-color: white;
}

.cardB {
    width: 80%;
    background-color: white;
}

.avatarIMG {
    background-color: rgb(235, 235, 235);
    border-radius: 50%;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;}

#avatarName {
    text-align: center;
}

#chatForm {
    padding: 12% 0 0;
}

input[type=submit] {
    background-color:gray;
    color: white;
    border-radius: 12px;
    border: 1px solid gray;
}

#message {
    border-radius: 12px;  
    border: 1px solid gray;
    padding-right: 10px;
    width: 80%;
  
}

#avaterSelect {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

form * {
    width: max-content;
    margin: inherit;
}

.AvatarOption * {
    display: block;
}

p {
    line-height: 133%;
}