:root {
    --gray: rgb(234, 234, 234);
    --beigh: rgb(237, 228, 197);
    --grayBLU: rgb(206, 227, 233);
    --Light_Gray: rgb(241, 240, 240);
}

@font-face {
    font-family: MyFont;
    src: url(../fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf);
}

* {
    padding: 5px;
    margin: 5px;
    font-family: MyFont;
    /* border: 1px solid gray; */
}

.container {
    display: grid;
    grid-template-areas: 
    "header header"
    "left main"
    "left footer";
    grid-template-columns: 13.5vw auto;
}

.header {
    grid-area: header;
    background-color: var(--gray);
    border-radius: 12px;
}

.left {
    grid-area: left;
    background-color: var(--gray);
    border-radius: 12px;
    width: 12.5vw;
}

.content {
    grid-area: main;
    border-radius: 12px;
    min-height: 85vh;
}

.footer {
    grid-area: footer;
    background-color: var(--gray);
    border-radius: 12px;
}

.testNumbers {
    background-color: yellow;
    width: fit-content;
    margin: auto;
    border-radius: 16px;
}

#numbers { 
    height: 100px;
    width: 100px;
    margin: auto;
    font-size: 50px;
    text-align: center;
    line-height: 100px;
}

#userAnswer { 
    display: none;
    background-color: var(--Light_Gray);
    width: fit-content;
    margin: auto;
    border-radius: 16px;
}

#user_response_text {
    border-radius: 16px;
    border: 1px solid white;
}

#start_button {
    background-color:gray;
    color: white;
    border-radius: 12px;
    border: 1px solid gray;
}

.task_description{
    background-color: var(--grayBLU);
    height: 300px;
}

#chatForm {
    padding: 12% 0 0;
}

input[type=submit] {
    background-color:gray;
    color: white;
    border-radius: 12px;
    border: 1px solid gray;
}

.form-text-input {
    border-radius: 12px;  
    border: 1px solid gray;
    padding-right: 10px;
    width: 40%;
  
}

#message {
    border-radius: 12px;  
    border: 1px solid gray;
    padding-right: 10px;
    width: 40%;
  
}

form * {
    width: max-content;
    margin: inherit;
}


p {
    line-height: 133%;
}

.LikertItemTable {
    width: 80%;
    background-color: var(--Light_Gray);
    border-radius: 24px;
}

.LikertItemTable td {
    width: 33%;
    padding: auto;
}

.H3_q_Item {
    width: 80%;
}

.instructions_q_Item {
    width: 80%;
    font-size: 22px;
    line-height:200%;
    /* text-decoration: underline; */
    font-style: italic;
}

@media screen and (max-width: 3000px) {

    /* label, span{
        color: red;
        font-size:x-large;
    } */
    .container {
        display: grid;
        grid-template-areas: 
        "header header header"
        "main main main"
        "footer footer footer";
        grid-template-columns: 90%;

    }

    .left {
        display: none;
    }

    .LikertItemTable {
        width: 100%;
        background-color: var(--Light_Gray);
        border-radius: 24px;
    }

    .txtLikert {
        font-size: 13px;
    }


    td label {
        /* width: 100%; */
        /* margin: auto; */
        /* color: red; */
        display: block;
        text-align: center;
    }

    .likertLabel {
        display: block;
        text-align: center;

    }

    .LikertItemTable input[type=radio]{
        margin: 5%;
    }

    .RadioDiv {
        width: 90%;
        margin: auto;
    }

    /* .LikertItemTable input {
        width: 10px;
    } */

    .LikertItemTable tr {
        width: 100%;
        /* margin: auto; */
    }


    .LikertItemTable td {
        width: 33%;
        margin: auto;
    }

  
    
    .H3_q_Item {
        width: 100%;
    }
    
    .instructions_q_Item {
        width: 100%;
        font-size: 22px;
        line-height:200%;
        /* text-decoration: underline; */
        font-style: italic;
    }
  }

