extends layout
block content 
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    
    div(id="responses")
    form(id="chatForm")
        label(for="message") User Text
        input(type="text" id="message" placeholder="Type your message here" required)
        input(type="submit" value="Send")
    
    br
    br

    form(id="chatFormManipulation")
        label(for="manipulation") Hidden Prompt - Manipulation
        input(type="text" id="manipulation" placeholder="Type chat gpt manipulation prefix here")
        input(type="submit" value="Send")
    br

    form(id="chatFormInitialTask")
        label(for="task") Initial Task - Manipulation
        input(type="text" id="task" placeholder="Type chat gpt task here")
        input(type="submit" value="Send")
    
    br
    
    form(id="chatFormReset")
        p Reset Conversation Context
        input(type="submit" value="Send")

    br
    br

    form(id="chatEndedForm" method='get' action='/chat-api-ended')
        p End Chat
        input(type="submit" value="End Chat")
    br

    script.
        $(document).ready(function(){
            $('#chatFormReset').on('submit', function(e){
                e.preventDefault();
                $.ajax({
                    url: './chat-api-reset',
                    type: 'GET',
                    success: function(response) {
                        document.getElementById('responses').innerHTML = "";
                    },
                    error: function(error){
                        console.log(error);
                    }
                });
            });

            $('#chatFormManipulation').on('submit', function(e){
                e.preventDefault();

                const manipulationHint = $('#manipulation').val();
                $.ajax({
                    url: './chat-api-manipulation',
                    type: 'POST',
                    data: {
                        "manipulation": manipulationHint
                    },
                    success: function(response) {
                        $('#manipulation').text = response["manipulation"];
                    },
                    error: function(error){
                        console.log(error);
                    }
                });
            });

            $('#chatFormInitialTask').on('submit', function(e){
                e.preventDefault();

                const taskHint = $('#task').val();
                $.ajax({
                    url: './chat-api-manipulation-task',
                    type: 'POST',
                    data: {
                        "task": taskHint
                    },
                    success: function(response) {
                        $('#task').text = response["task"];
                    },
                    error: function(error){
                        console.log(error);
                    }
                });
            });

            $('#chatForm').on('submit', function(e){
                e.preventDefault();

                const message = $('#message').val();
                var element = document.createElement("div");
                element.style = "border: 1px solid #000; margin: 10px; padding: 10px; color: #111; background-color: #e0e0e0;";
                element.appendChild(document.createTextNode(message));
                document.getElementById('responses').appendChild(element);
                $.ajax({
                    url: './chat-api',
                    type: 'POST',
                    data: {
                        message: message
                    },
                    success: function(response) {
                        var element = document.createElement("div");
                        element.style = "border: 1px solid #000; margin: 10px; padding: 10px; color: #222; background-color: #f0f0f0;";
                        element.appendChild(document.createTextNode(response));
                        document.getElementById('responses').appendChild(element);

                        $('#chatForm')[0].reset();
                    },
                    error: function(error){
                        console.log(error);
                    }
                });
            });
        });