extends layout
block content 
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    div(class='task_description') 
        h2 Please read the following task description and engage with the AI agent to complete the task.
        h3 Task description:
        p= header_message
        h3 Click start to get started 
        button start

    div(class='testNumbers')
        p(id='numbers') 
    
    div(id='userAnswer')
        form(action="", method="post") 
        input(type="text", name="UserAnswer")
        input(type="submit", value="submit")



    //- div(id="conversation", class="conversation")
    //- form(id="chatForm")
    //-     label(for="message") User Text
    //-     input(type="text" class="form-text-input" id="message" placeholder="Type your message here" required)
    //-     input(type="submit" value="Send")
    
    //- br
    

    //- form(id="chatEndedForm" method='GET' action='/chat-ended')
    //-     br
    //-     input(type="submit" value="End Chat")
    //- br

    script.

        $(document).ready(function(){
            const numbers = [4,2,3,7,8,1,2];
            var changeNumber = (number)=> {
                this.getElementById('numbers').innerHTML = number 
            };
            numbers.forEach(function(value,i) {
                setTimeout(()=>{
                    changeNumber(value)
                }, i*1000);
            })
            setTimeout(()=>{
                changeNumber('')
                this.getElementById('userAnswer').style.display = "block";
            }, numbers.length*1000)
       
  
            //- this.getElementById('numbers').innerHTML = '1';
            //- setTimeout(()=>{
            //-     this.getElementById('numbers').innerHTML = '2'
            //- }, 1000);
            //- setTimeout(()=>{
            //-     this.getElementById('numbers').innerHTML = '3'
            //- }, 2000);
            


            //- $('#chatForm').on('submit', function(e){
            //-     e.preventDefault();
            //-     $("#conversation").children().removeClass("chat-last");

            //-     const message = $('#message').val();
            //-     addUserText(message);

            //-     $.ajax({
            //-         url: './chat-api',
            //-         type: 'POST',
            //-         data: {
            //-             message: message
            //-         },
            //-         success: addAgentText,
            //-         error: console.error
            //-     });
            //- });
        });