extends layout
block content 
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    div(class='task_description') 
        h2 Please read the following task description and complete the task.
        h3 Task description:
        p After clicking the start button, a sequence of numbers will be displayed in the yellow box below. Your task is to enter these sequences into the input field below the yellow box to the best of your ability.
        h3 Click start to get started 
        button(id="start_button") start
    br
    br

    div(class='testNumbers')
        p(id='numbers') 
    br
    br
    
    div(id='userAnswer')
        form(id="user_response") 
            input(type="text", id="user_response_text" name="UserAnswer")
            input(type="submit", value="submit")


    form(id="memTestEndedForm" method='GET' action='/chat-ended')
        br
        input(type="submit" value="End Chat")
    br

    script.

        $(document).ready(function(){
            $('#memTestEndedForm').hide();

            function onServerRandomNumbers(numbers){
                if (!numbers || numbers.length === 0) {
                    $('#memTestEndedForm').submit();
                    return;
                }   
                document.getElementById('userAnswer').style.display = "none";
                var changeNumber = (number)=> {
                    document.getElementById('numbers').innerHTML = number 
                };
                
                numbers.forEach(function(value,i) {
                    setTimeout(()=>{
                        changeNumber(value)
                    }, i*1000);
                });

                setTimeout(()=>{
                    changeNumber('');
                    document.getElementById('userAnswer').style.display = "block";
                    document.getElementById('user_response_text').focus();                    
                }, numbers.length*1000);
            };

            $('#start_button').on('click', function(e){
                e.preventDefault();
                $.ajax({
                    url: './mem-test-api',
                    type: 'POST',
                    data: {},
                    success: onServerRandomNumbers,
                    error: console.error
                });
                $('#start_button').hide();
            });

            $('#user_response').on('submit', function(e){
                e.preventDefault();
                const message = $('#user_response_text').val();
                $('#user_response_text').val("");
                $.ajax({
                    url: './mem-test-api',
                    type: 'POST',
                    data: {
                        user_response: message
                    },
                    success: onServerRandomNumbers,
                    error: console.error
                });
            });
        });