extends layout
block content 

    div(class="configContainer")
        div 
            form(action="") 
                img(class="avatarIMG"  src="../static/avatars/avatar_1.png", alt="avatar" width="100px")
                input(type="radio", name="avatar")