extends layout
block content 

    div(class="configContainer")
        div 
            form#avaterSelect(action="")
                div(class="AvatarOption") 
                    img#img1(src="../static/images/avatars/avatar_10.png", alt="avatar", width="100px")
                    input(type="radio", name="avatar")
                div(class="AvatarOption") 
                    img#img1(src="../static/images/avatars/avatar_11.png", alt="avatar", width="100px")
                    input(type="radio", name="avatar")
                div(class="AvatarOption") 
                    img#img1(src="../static/images/avatars/avatar_12.png", alt="avatar", width="100px")
                    input(type="radio", name="avatar")
                div(class="AvatarOption") 
                    img#img1(src="../static/images/avatars/avatar_13.png", alt="avatar", width="100px")
                    input(type="radio", name="avatar")
                div(class="AvatarOption") 
                    img#img1(src="../static/images/avatars/avatar_14.png", alt="avatar", width="100px")
                    input(type="radio", name="avatar")
                div(class="AvatarOption") 
                    img#img1(src="../static/images/avatars/avatar_15.png", alt="avatar", width="100px")
                    input(type="radio", name="avatar")
                div(class="AvatarOption") 
                    img#img1(src="../static/images/avatars/avatar_16.png", alt="avatar", width="100px")
                    input(type="radio", name="avatar")
                div(class="AvatarOption") 
                    img#img1(src="../static/images/avatars/avatar_17.png", alt="avatar", width="100px")
                    input(type="radio", name="avatar")
                div(class="AvatarOption") 
                    img#img1(src="../static/images/avatars/avatar_18.png", alt="avatar", width="100px")
                    input(type="radio", name="avatar")
                div(class="AvatarOption") 
                    img#img1(src="../static/images/avatars/avatar_19.png", alt="avatar", width="100px")
                    input(type="radio", name="avatar")
                