extends layout
block content 
    h1= header_message
    h2= body_message

    form(method='POST' action='/welcome_code')
        p
<<<<<<< HEAD
        input(type="text", id="ProloficPID", name="ProloficPID", placeholder="enter your prolific personal ID... ", required)
        br
        input(type="text", id="message", name="code", placeholder="enter your password... ", required)
=======
        input(type="text", id="proloficPID", class="form-text-input" name="prolificPID", placeholder="enter your prolific personal ID... ", required)
        input(type="text", id="prolificCode", class="form-text-input" name="code", placeholder="enter your password... ", required)
>>>>>>> 91aeef613a5c35a53558ba1e3242208fb8fb0d26
        input(type='submit', value='ENTER')
