extends layout
block content 
    h1= header_message
    h2= body_message

    form(method='POST' action='/welcome_code')
        p
        label(for="prolificCode") Your unique code for this website
        input(type="text", id="prolificCode", class="form-text-input" name="code", placeholder="Unique entry code... ", required)
        br
        input(type='submit', value='Enter')
