extends layout
block content 
    h1= header_message
    h2= body_message

    form(method='POST' action='/welcome_code')
        p
        input(type="text", id="ProloficPID", name="ProloficPID", placeholder="enter your prolific personal ID... ", required)
        br
        input(type="text", id="message", name="code", placeholder="enter your password... ", required)
        input(type='submit', value='ENTER')
