extends layout
block content 
    h1= header_message
    h2= body_message

    form(method='POST' action='/')
        p
        label(for="message") Please enter your personal access code: 
        input(type="text" id="message" name="secret" placeholder="Type your secret here... " required)
        input(type='submit' value='Agree')
