extends layout
block content 
    h1= header_message
    h2= body_message

    form(method='POST' action='/')
        p
        input(type="text" id="message" name="code" placeholder="enter code... " required)
        input(type='submit' value='enter')
