extends layout
block content 
    h1= header_message
    h2= body_message

    form(method='POST' action='/welcome_code')
        p
        input(type="text", id="proloficPID", class="form-text-input" name="prolificPID", placeholder="enter your prolific personal ID... ", required)
        input(type="text", id="prolificCode", class="form-text-input" name="code", placeholder="enter your password... ", required)
        input(type='submit', value='ENTER')
